/* You can add global styles to this file, and also import other style files */
.mat-tab-group .mat-tab-nav-bar, .mat-tab-group .mat-tab-header {
  border-bottom: 0 solid transparent;
}

.mat-tab-label-container div.mat-tab-labels div.mat-tab-label.mat-ripple {
  color: white;
}

*, html, body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

button.call-to-action {
  border-radius: 50px !important;
  color: #FFFFFF !important;
  font-size: 12px !important;
  font-weight: 200 !important;
  background: #5BCDBF !important;
  border: 0px !important;
  text-transform: capitalize !important;
}

.alert {
  box-shadow: 0 2px 2px rgba(0,0,0,0.24), 0 0 2px rgba(0,0,0,0.12);
  border-width: 2px;
  border-style: solid;
  padding: 8px 16px;
  line-height: 24px;
  font-size: 14px;
  border-radius: 4px;
  color: #455A64;
  margin-bottom: 24px;
}

.is-critical {
  border-color: #D32F2F;
  background: rgba(255,235,238,0.24);
}

.is-important {
  border-color: #FFA000;
  background: rgba(255,248,225,0.24);
}

.is-helpful {
  border-color: #1E88E5;
  background: rgba(227,242,253,0.24);
}

.private-doc {
  background-color: rgba(231, 76, 60, 0.3);
  color: #fff;
  font-weight: 400;
}
