/* You can add global styles to this file, and also import other style files */
.mat-tab-group .mat-tab-nav-bar, .mat-tab-group .mat-tab-header {
  border-bottom: 0 solid transparent;
}

.mat-tab-label-container div.mat-tab-labels div.mat-tab-label.mat-ripple {
  color: white;
}

*, html, body {
  margin: 0;
  border: 0;
  padding: 0;
}
