<div class="container">
  <div>
    <div class="info-container">
      Show some scrolly stuff here
    </div>
    <div class="auth-container">
      <div>
        <button>Sign in</button>
        or
        <button>Sign Up</button>
      </div>
      <div *ngIf="!signup" class="login">
        <div>
          <form>
            <div class="form-group">
              <label for="email">E-MAIL</label>
              <input type="text" class="form-control" id="email" required>
            </div>
            <div class="form-group">
              <label for="password">PASSWORD</label>
              <input type="password" class="form-control" id="password" required>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
      </div>
      <div *ngIf="signup" class="signup">
        signup form
      </div>
    </div>
  </div>
</div>
