<div class="outer-container">
  <div class="inner-container">
    <div class="info-container">
      Show some scrolly stuff here
    </div>
    <div class="auth-container">
      <div class="auth-inner-container">
        <div>
          <md-tab-group>
            <md-tab label="Tab 1">Content 1</md-tab>
            <md-tab label="Tab 2">Content 2</md-tab>
          </md-tab-group>
        </div>
        <div class="auth-error" *ngIf="ifError">
          <p>{{errorMessage}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
