<div class="outer-container">
  <div class="inner-container">
    <div class="info-container">

    </div>
    <div class="auth-container">
      <div class="auth-inner-container">
        <div>
          <md-tab-group [dynamicHeight]="true" (selectChange)="tabChange($event)">
            <md-tab label="Sign In">
              <div class="tab-content">
                <form class="dark-theme">
                  <md-input-container class="input-full-width">
                    <input mdInput placeholder="USERNAME" required
                    [(ngModel)]="signInInfo.username"
                    name="signin-email">
                  </md-input-container>
                  <md-input-container class="input-full-width">
                    <input mdInput placeholder="PASSWORD" type="password" required
                    [(ngModel)]="signInInfo.password"
                    name="signin-password">
                  </md-input-container>
                  <button md-button class="auth" (click)="signIn()">
                    <ng-template ngIf="!loading">
                      sign in
                    </ng-template>
                    <spinner *ngIf="loading" size="20"></spinner>
                  </button>
                </form>
              </div>
            </md-tab>
            <md-tab label="Sign Up">
              <div class="tab-content">
                <form class="dark-theme">
                  <md-input-container class="input-full-width">
                    <input mdInput placeholder="FIRSTNAME" required
                    [(ngModel)]="signUpInfo.firstname"
                    name="signup-firstname">
                  </md-input-container>
                  <md-input-container class="input-full-width">
                    <input mdInput placeholder="LASTNAME" required
                    [(ngModel)]="signUpInfo.lastname"
                    name="signup-lastname">
                  </md-input-container>
                  <md-input-container class="input-full-width">
                    <input mdInput placeholder="E-MAIL" required
                    [(ngModel)]="signUpInfo.email"
                    name="signup-email">
                  </md-input-container>
                  <md-input-container class="input-full-width">
                    <input mdInput placeholder="USERNAME" required
                    [(ngModel)]="signUpInfo.username"
                    name="signup-username">
                  </md-input-container>
                  <md-input-container class="input-full-width">
                    <input mdInput placeholder="PASSWORD" type="password"
                    required
                    [(ngModel)]="signUpInfo.password"
                    name="signup-password">
                  </md-input-container>
                  <button md-button class="auth"
                    (click)="signUp()">
                    <ng-template ngIf="!loading">
                      sign up
                    </ng-template>
                    <spinner *ngIf="loading" size="20"></spinner>
                  </button>
                </form>
              </div>
            </md-tab>
          </md-tab-group>
          <div class="auth-error" *ngIf="ifError">
            <md-icon>report_problem</md-icon> {{errorMessage}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
